.container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.month {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background:  lightgoldenrodyellow;
}

h3 {
  margin-bottom: 10px;
  color: #007bff;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #e9ecef;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.calendar-day:hover {
  background: #007bff;
  color: white;
}

.event-day {
  background: #28a745 !important;
  color: white;
  font-weight: bold;
}

.event-marker {
  position: absolute;
  bottom: 2px;
  font-size: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto; 
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content; 
}


.details h3 {
  color: lightslategrey;
  font-size: 25px;
}

.details p {
  font-size: 16px;
}

button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #c82333;
}
